# Helpful Git notes:
#
# In Git Bash, use "git config core.autocrlf false" to avoid unwanted changes, especially to Java source files.
# You must do this for each project.
#

#
# Two important files for the PIC IDE are not tracked:
#	nbproject/project.xml
#	nbproject/configurations.xml
#
# When a new user clones the project, the above files must be transferred outside of git.
#

archive/
Distributions/
build/
*.fil
nbproject/Makefile-impl.mk
nbproject/Makefile-variables.mk
nbproject/Package-default.bash
nbproject/Makefile-default.mk
nbproject/Makefile-local-default.mk
nbproject/Makefile-genesis.properties
nbproject/configurations.xml
nbproject/private/configurations.xml
nbproject/private/private.xml
nbproject/project.xml
nbproject/private/SuppressibleMessageMemo.properties
nbproject/project.properties
*.mch
*.MCH
*.o
*.O
*.err
*.ERR
*.hex
*.HEX
*.lst
*.LST
*.map
*.MAP
*.cof
*.COF
*.mcp
*.MCP
*.mcs
*.MCS
*.mcw
*.MCW
!OriginalHexFiles/*.*
!IDE Project File Copies/*.*
